name: CI

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
  push:
    branches:
      master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jobqueue: ["pbs", "slurm", "none"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Black Code Formatter
        uses: lgeiger/black-action@v1.0.1
        with:
          args: ". --check --diff --color -l 88"

      - name: Lint with flake8
        run: |
            pip install flake8
            flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
            flake8 . --count --exit-zero --max-complexity=10 --max-line-length=88 --statistics

      # Stay compatible with travis for now
      # - name: Setup Conda Environment
      #   uses: goanpeca/setup-miniconda@v1
      #   with:
      #     miniconda-version: "latest"
      #     python-version: 3.6
      #     environment-file: ci/environment.yml
      #     activate-environment: jobqueue_features
      #     auto-activate-base: false

      - name: Setup
        shell: bash -l {0}
        run: |
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_before_install

      - name: Install
        shell: bash -l {0}
        run: |
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_install

      - name: Test
        shell: bash -l {0}
        run: |
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_script

      - name: Cleanup
        shell: bash -l {0}
        run: |
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_after_script

  tutorial:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        jobqueue: ["slurm"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup
        shell: bash -l {0}
        run: |
          source tutorial/jupyter.sh
          start_${{ matrix.jobqueue }}

      - name: Test
        shell: bash -l {0}
        run: |
          source tutorial/jupyter.sh
          test_${{ matrix.jobqueue }}

      - name: Stop
        shell: bash -l {0}
        run: |
          source tutorial/jupyter.sh
          stop_${{ matrix.jobqueue }}

      - name: Cleanup
        shell: bash -l {0}
        run: |
          source tutorial/jupyter.sh
          clean_${{ matrix.jobqueue }}
